body {
  background-color: #0e0e10;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

.app-container {
  max-width: 600px;
  margin: auto;
}

.url-box {
  display: flex;           /* make input and button inline-flex */
  justify-content: center; /* center the elements */
  gap: 10px;               /* space between input and button */
}
.url-box input {
  flex: 1;                 /* take available space */
  padding: 10px;
  border-radius: 8px;
  border: none;
}
.url-box button {
  padding: 10px 20px;
  border: none;
  background-color: #00bcd4;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


/* .url-box input {
  width: 200%;
  padding: 10px;
  border-radius: 8px;
  border: none;
} */

/* .url-box button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #00bcd4;
  color: white;
  border-radius: 8px;
  cursor: pointer;
} */

.result {
  margin-top: 20px;
}

.result button {
  margin-left: 10px;
  background-color: #4caf50;
}
